.section-hero--football {
  padding: 90px 0 200px 0; }
  .section-hero--football .bg-white {
    height: 740px;
    width: 680px; }
  .section-hero--football .hero-text {
    width: 460px; }
  .section-hero--football .hero-table-container {
    position: relative; }
    .section-hero--football .hero-table-container img {
      width: 800px;
      position: absolute;
      bottom: -10%;
      left: 0%; }

.section-feature--football {
  margin: 120px 0; }
  .section-feature--football .feature {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-gap: 95px; }
    .section-feature--football .feature__img img {
      width: 100%;
      height: 700px;
      object-fit: cover; }
    .section-feature--football .feature__text {
      align-self: center;
      width: 620px; }

.section-furniture {
  padding: 107px 0; }
  .section-furniture .furniture__text {
    width: 470px; }
  .section-furniture .furniture__img {
    height: 600px; }
    .section-furniture .furniture__img img {
      width: 100%;
      object-fit: contain; }

@media (max-width: 1920px) {
  .section-hero--football {
    padding: 80px 0 170px 0; }
    .section-hero--football .bg-white {
      height: 600px;
      width: 500px; }
    .section-hero--football .hero-text {
      width: 400px; }
    .section-hero--football .hero-table-container img {
      width: 650px;
      bottom: -10%;
      left: -6%; }

  .section-feature--football .feature__text {
    width: 590px; } }
@media (max-width: 1400px) {
  .section-hero--football {
    padding: 80px 0 170px 0; }
    .section-hero--football .bg-white {
      height: 600px;
      width: 500px; }
    .section-hero--football .hero-text {
      width: 400px; }
    .section-hero--football .hero-table-container img {
      width: 650px;
      bottom: -10%;
      left: -6%; }

  .section-feature--football {
    margin: 90px 0; }
    .section-feature--football .feature {
      grid-gap: 70px; }
      .section-feature--football .feature__img img {
        height: 600px; }
      .section-feature--football .feature__text {
        width: 450px; }

  .section-furniture {
    padding: 90px 0; }
    .section-furniture .furniture__img {
      height: 550px; } }
@media (max-width: 1200px) {
  .section-hero--football .hero-table-container {
    margin-top: 100px; }
    .section-hero--football .hero-table-container img {
      left: 27%; }

  .section-furniture .furniture__text {
    width: 400px; } }
@media (max-width: 991px) {
  .section-hero--football .hero-table-container {
    margin-top: 100px; }
    .section-hero--football .hero-table-container img {
      left: 0%; }

  .section-feature--football .feature {
    display: block; }
    .section-feature--football .feature__img {
      margin-bottom: 50px; }
      .section-feature--football .feature__img img {
        height: 500px; }
    .section-feature--football .feature__text {
      width: 720px; }

  .section-furniture {
    padding: 70px 0; }
    .section-furniture .furniture__text {
      width: 720px;
      margin-left: auto;
      margin-right: auto; }
    .section-furniture .furniture__img {
      height: 500px; } }
@media (max-width: 768px) {
  .section-hero--football .bg-white {
    height: 550px;
    width: 400px; }
  .section-hero--football .hero-table-container {
    margin-top: 100px; }
    .section-hero--football .hero-table-container img {
      width: 550px;
      left: -7%; }

  .section-feature--football {
    margin: 60px 0; }
    .section-feature--football .feature {
      display: block; }
      .section-feature--football .feature__img {
        margin-bottom: 50px; }
        .section-feature--football .feature__img img {
          height: 500px; }
      .section-feature--football .feature__text {
        width: 540px; }

  .section-furniture {
    padding: 50px 0; }
    .section-furniture .furniture__text {
      width: 100%; }
    .section-furniture .furniture__img {
      height: 500px; } }
@media (max-width: 576px) {
  .section-hero--football .hero-text {
    width: 90%;
    margin-left: 5%; }
  .section-hero--football .bg-white {
    height: 350px;
    width: 90%;
    margin-left: 5% !important;
    position: static; }
  .section-hero--football .hero-table-container {
    margin-top: 100px; }
    .section-hero--football .hero-table-container img {
      width: 80%;
      margin-left: 10%; }

  .section-feature--football .feature__img {
    margin-bottom: 30px; }
    .section-feature--football .feature__img img {
      height: 350px; }
  .section-feature--football .feature__text {
    width: 90%; }

  .section-furniture .furniture__img {
    height: 350px; } }
@media (max-width: 420px) {
  .section-hero--football .bg-white {
    height: 300px; }
  .section-hero--football .hero-table-container img {
    width: 80%;
    margin-left: 10%; } }
iframe {
  display: none; }

/*# sourceMappingURL=football.css.map */
