:root {
  --nv-primary-accent: #344737;
  --nv-secondary-accent: #f5c945;
  --nv-site-bg: #ffffff;
  --nv-light-bg: #f4f4f4;
  --nv-dark-bg: #211600;
  --nv-text-color: #000000;
  --nv-text-dark-bg: #ffffff;
  --custom-4: #3b4f3e;
  --custom-5: #f6fef7;
  --custom-6: #6d6d6d;
  --fs-h1: 96px;
  --fs-h2: 48px;
  --fs-h3: 30px;
  --default-fs: 18px;
  --fs-large-1: 36px;
  --fs-large-2: 24px;
  --spacing-1: 90px;
  --spacing-2: 70px;
  --spacing-3: 50px;
  --font-family-1: "Oswald", sans-serif;
  --font-family-2: "Barlow", sans-serif; }

body {
  font-size: var(--default-fs) !important;
  font-family: var(--font-family-2);
  font-weight: 400; }

.fs-large-1 {
  font-size: var(--fs-large-1); }

.fs-large-2 {
  font-size: var(--fs-large-2); }

.h1,
.h2,
.h3 {
  font-family: var(--font-family-1);
  font-weight: 900; }

.h1 {
  font-size: var(--fs-h1) !important; }

.h2 {
  font-size: var(--fs-h2) !important; }

.h3 {
  font-size: var(--fs-h3) !important; }

.space-1 {
  margin-bottom: var(--spacing-1) !important; }

.space-2 {
  margin-bottom: var(--spacing-2) !important; }

.space-3 {
  margin-bottom: var(--spacing-3) !important; }

.fs-large-1 {
  font-size: var(--fs-large-1); }

.fw-semi-bold {
  font-weight: 600; }

.btn-pool {
  width: 285px;
  text-align: center; }
  .btn-pool--white {
    background-color: white;
    color: #000 !important; }
