.section-hero,
.hero-right {
  height: 68rem;
}

.hero-left {
  flex: 0 0 50%;
}
.hero-right {
  flex: 1;
}
.section-houses {
  position: relative;
  .houses {
    margin-left: 10%;
  }
  .houses-big {
    height: 87rem;
  }
  .houses-nav-btn {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 3px solid #a4a7a6;
    color: #a4a7a6;
    // transform: translate(40%, 30%);
    &.faded {
      opacity: 0.5;
    }
  }
  .house-nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  // .houses-img-2 {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   width: 40rem;
  //   height: 62rem;
  // }
}
.section-contact {
  // background-image: url(../img/contact-bg.png);
  background-size: cover;
  background-position: -100px 0;
  background-repeat: no-repeat;
  height: 81rem;
  position: relative;
  .contact-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .row {
    margin-top: 20rem;
    padding-right: 10rem;
  }
  .contact-text {
    max-width: 45rem;
  }
}

@media (max-width: 1799.98px) {
}
@media (max-width: 1399.98px) {
  .section-hero,
  .hero-right {
    height: 60rem;
  }
}
@media (max-width: 1199.98px) {
  .section-contact {
    height: 70rem;
    .row {
      margin-top: 10rem;
    }
  }
  .section-houses {
    .houses-big {
      height: 75rem;
    }
    .houses-nav-btn {
      height: 5.6rem;
      width: 5.6rem;
    }
    .house-nav {
    }
  }
}
@media (max-width: 991.98px) {
  .section-hero {
    height: auto;
  }
  .hero-left {
    height: 53rem;
  }
  .hero-right {
    height: 43rem;
  }
  .section-contact {
    background-position: -200px 0;
    .row {
      margin-top: 12rem;
      padding-right: 3rem;
    }
  }
  .section-houses {
    .houses {
      margin-right: 10%;
    }
  }
}
@media (max-width: 767.98px) {
  .section-contact {
    height: 80rem;
    .row {
      margin-top: 10rem;
      padding-right: 0rem;
    }
  }
}
@media (max-width: 575.98px) {
  .hero-left {
    height: 55rem;
    .hero-left-content.w-75 {
      width: 90% !important;
    }
  }
  .section-houses {
    .houses-big {
      height: 30rem;
    }
    .houses-nav-btn {
      height: 4.2rem;
      width: 4.2rem;
    }
  }
}
