$primary: #a2826b;
$secondary: #16423c;
$custom-body-font-size: 1.25rem;
@import "./functions";
@import "./variables";

$grid-breakpnts: (
  xxs: 300px,
);
$grid-breakpoints: map-merge(
  $map1: $grid-breakpoints,
  $map2: $grid-breakpnts,
);
@import "./bootstrap.scss";
@import "./custom/font";
// html {
//   font-size: 62.5% !important;
// }
body {
  font-size: $custom-body-font-size !important;
  font-family: garamond !important;
  font-weight: 400;
}
p {
  font-size: $custom-body-font-size !important;
}
.h1 {
  font-size: 3.125rem !important;
}
.h2 {
  font-size: 2.5rem !important;
}
.h3 {
  font-size: 1.5rem !important;
}
.bg-primary-400 {
  background-color: #f8f5f2;
}
.rounded-7 {
  border-radius: 1rem;
}
.navbar-logo {
  max-width: 10.6rem;
}
.nav-link,
.btn {
  font-family: futura !important;
  font-weight: 500 !important;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.btn {
  font-size: 1.2rem !important;
}
.gar-semi-bold {
  font-family: garamondSemiBoldItalic !important;
}
.gar-semi-normal {
  font-family: garamondSemiBold !important;
}
.fut-medium {
  font-family: futura !important;
}
.w-90 {
  width: 90%;
}
h2 {
  font-family: futura;
}
a i.fa {
  transform: translateY(0.4rem);
}
.btn {
  border-radius: 0 !important;
}
.contact-form {
  border-radius: 1.2rem;
  background-color: #f8f5f2;
  .form-control {
    font-size: $custom-body-font-size !important;
  }
  &-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  a {
    width: 12rem;
  }
  .contact-form {
    max-width: 50rem;
  }
}
// particular page design home

.section-gallery {
  &-light {
    background-color: #f6f1ee;
  }
  img {
    height: 37rem;
  }
}
.section-process {
  padding: 7.5rem 0;
  .process {
    border-top: 2px solid #f1f4f4;
  }
  .process-title {
    flex: 0 0 9.5rem;
  }
  .process-desc {
    flex: 1;
  }
}

.footer {
  &-arrow {
    transform: translateY(2px);
  }
  .footer-menu a {
    justify-content: end;
  }
}
@media (max-width: 1799.98px) {
  body,
  .btn,
  p {
    font-size: 1rem !important;
  }
  .navbar-logo {
    max-width: 10rem;
  }
}
@media (max-width: 1399.98px) {
  // body,
  // .btn {
  //   font-size: 0.9rem !important;
  // }
  .h1 {
    font-size: 2.7rem !important;
  }
  .navbar-logo {
    max-width: 8rem;
  }
}
@media (max-width: 1199.98px) {
  html {
    // font-size: 52% !important;
  }
  .h1 {
    font-size: 2.3rem !important;
  }
  .h2 {
    font-size: 2rem !important;
  }
  .h3 {
    font-size: 1.5rem !important;
  }
  // body,
  // p,
  // .btn {
  //   font-size: 2rem !important;
  // }
  // .section-process {
  //   padding: 12rem 0;

  //   .process-title {
  //     flex: 0 0 15rem;
  //   }
  // }
}
@media (max-width: 991.98px) {
  .footer {
    .footer-menu a {
      justify-content: start;
    }
  }
}
@media (max-width: 767.98px) {
  .contact-form {
    &-group {
      display: block;
    }
  }
}
@media (max-width: 575.98px) {
  .footer-logo {
    width: 50%;
    margin-bottom: 4rem;
  }
  .section-gallery {
    img {
      height: 25rem;
    }
  }
}
