$primary: #a2826b;
$secondary: #16423c;
@import "./functions";
@import "./variables";

$grid-breakpnts: (
  xxs: 300px,
);
$grid-breakpoints: map-merge(
  $map1: $grid-breakpoints,
  $map2: $grid-breakpnts,
);
@import "./bootstrap.scss";
@import "./custom/font";
html {
  font-size: 62.5% !important;
}
body {
  font-size: 2rem !important;
  font-family: garamond !important;
  font-weight: 400;
}
.navbar-logo {
  max-width: 17rem;
}
.nav-link,
.btn {
  font-family: futura !important;
  font-weight: 500 !important;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.btn {
  font-size: 2rem !important;
}

// particular page design home
.section-hero,
.hero-right {
  height: 70rem;
}
.hero-left {
  flex: 0 0 50%;
}
.hero-right {
  flex: 1;
}
.section-info {
  .h2 {
    font-family: garamondSemiBoldItalic;
  }
}

@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
