$primary: #a2826b;
$secondary: #16423c;
@import "./functions";
@import "./variables";

$grid-breakpnts: (
  xxs: 300px,
);
$grid-breakpoints: map-merge(
  $map1: $grid-breakpoints,
  $map2: $grid-breakpnts,
);
@import "./bootstrap.scss";
@import "./custom/font";
html {
  font-size: 56% !important;
}
body {
  font-size: 2rem !important;
  font-family: garamond !important;
  font-weight: 400;
}
.nav-link {
  font-family: futura !important;
  font-weight: 500 !important;
}
@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
