$primary: #a2826b;
$secondary: #16423c;
@import "./functions";
@import "./variables";

$grid-breakpnts: (
  xxs: 300px,
);
$grid-breakpoints: map-merge(
  $map1: $grid-breakpoints,
  $map2: $grid-breakpnts,
);
@import "./bootstrap.scss";
@import "./custom/font";
html {
  font-size: 62.5% !important;
}
body {
  font-size: 2rem !important;
  font-family: garamond !important;
  font-weight: 400;
}
.navbar-logo {
  max-width: 17rem;
}
.nav-link,
.btn {
  font-family: futura !important;
  font-weight: 500 !important;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.btn {
  font-size: 2rem !important;
}
.gar-semi-bold {
  font-family: garamondSemiBoldItalic;
}
.fut-medium {
  font-family: futura;
}
.w-90 {
  width: 90%;
}
h2 {
  font-family: futura;
}
.simple-link {
}
// particular page design home
.section-hero,
.hero-right {
  height: 70rem;
}
.hero-left {
  flex: 0 0 50%;
}
.hero-right {
  flex: 1;
}
.section-gallery {
  background-color: #f6f1ee;
  img {
    height: 60rem;
  }
}
.section-process {
  padding: 12rem 0;
  .process {
    border-top: 2px solid #f1f4f4;
  }
  .process-title {
    flex: 0 0 13rem;
  }
  .process-desc {
    flex: 1;
  }
}
.section-contact {
  background-image: url(../img/contact-bg.png);
  background-size: cover;
  background-position: center;
  height: 130vh;
}
@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
