$primary: #a2826b;
$secondary: #16423c;
$custom-body-font-size: 2rem;
@import "./functions";
@import "./variables";

$grid-breakpnts: (
  xxs: 300px,
);
$grid-breakpoints: map-merge(
  $map1: $grid-breakpoints,
  $map2: $grid-breakpnts,
);
@import "./bootstrap.scss";
@import "./custom/font";
html {
  font-size: 62.5% !important;
}
body {
  font-size: $custom-body-font-size !important;
  font-family: garamond !important;
  font-weight: 400;
}
p {
  font-size: $custom-body-font-size !important;
}
.navbar-logo {
  max-width: 17rem;
}
.nav-link,
.btn {
  font-family: futura !important;
  font-weight: 500 !important;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.btn {
  font-size: 2rem !important;
}
.gar-semi-bold {
  font-family: garamondSemiBoldItalic !important;
}
.fut-medium {
  font-family: futura !important;
}
.w-90 {
  width: 90%;
}
h2 {
  font-family: futura;
}
a i.fa {
  transform: translateY(0.5rem);
}
.btn {
  border-radius: 0 !important;
}
// particular page design home

.section-gallery {
  &-light {
    background-color: #f6f1ee;
  }
  img {
    height: 60rem;
  }
}
.section-process {
  padding: 12rem 0;
  .process {
    border-top: 2px solid #f1f4f4;
  }
  .process-title {
    flex: 0 0 13rem;
  }
  .process-desc {
    flex: 1;
  }
}
.section-contact {
  background-image: url(../img/contact-bg.png);
  background-size: cover;
  background-position: center;
  height: 130vh;
  .row {
    margin-top: 20rem;
    padding-right: 10rem;
  }
  .contact-form {
    border-radius: 2rem;
    background-color: #f8f5f2;
    .form-control {
      font-size: $custom-body-font-size;
    }
    &-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
    }
    a {
      width: 20rem;
    }
  }
}
.footer {
  &-arrow {
    transform: translateY(2px);
  }
}
@media (max-width: 1799.98px) {
  html {
    font-size: 55.8% !important;
  }
}
@media (max-width: 1399.98px) {
  html {
    font-size: 52% !important;
  }
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
