.btn-height {
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
}
.section-hero--football {
  padding: 90px 0 200px 0;
  .bg-white {
    height: 740px;
    width: 680px;
  }
  .hero-text {
    width: 460px;
  }
  .hero-table-container {
    position: relative;
    img {
      width: 800px;
      position: absolute;
      bottom: -10%;
      left: 0%;
    }
  }
}
.section-feature--football {
  margin: 120px 0;
  .feature {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-gap: 95px;
    &__img {
      img {
        width: 100%;
        height: 700px;
        object-fit: cover;
      }
    }
    &__text {
      align-self: center;
      width: 620px;
    }
  }
}
.section-furniture {
  padding: 107px 0;
  .furniture {
    &__text {
      width: 470px;
    }
    &__img {
      height: 600px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
@media (max-width: 1920px) {
  .section-hero--football {
    padding: 80px 0 170px 0;
    .bg-white {
      height: 600px;
      width: 500px;
    }
    .hero-text {
      width: 400px;
    }
    .hero-table-container {
      img {
        width: 650px;
        bottom: -10%;
        left: -6%;
      }
    }
  }
  .section-feature--football {
    .feature {
      &__text {
        width: 590px;
      }
    }
  }
}
@media (max-width: 1400px) {
  .section-hero--football {
    padding: 80px 0 170px 0;
    .bg-white {
      height: 600px;
      width: 500px;
    }
    .hero-text {
      width: 400px;
    }
    .hero-table-container {
      img {
        width: 650px;
        bottom: -10%;
        left: -6%;
      }
    }
  }
  .section-feature--football {
    margin: 90px 0;
    .feature {
      grid-gap: 70px;
      &__img {
        img {
          height: 600px;
        }
      }
      &__text {
        width: 450px;
      }
    }
  }
  .section-furniture {
    padding: 90px 0;
    .furniture {
      &__img {
        height: 550px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .section-hero--football {
    .hero-table-container {
      margin-top: 100px;
      img {
        left: 27%;
      }
    }
  }
  .section-furniture {
    .furniture {
      &__text {
        width: 400px;
      }
    }
  }
}

@media (max-width: 991px) {
  .section-hero--football {
    .hero-table-container {
      margin-top: 100px;
      img {
        left: 0%;
      }
    }
  }
  .section-feature--football {
    .feature {
      display: block;
      &__img {
        margin-bottom: 50px;
        img {
          height: 500px;
        }
      }
      &__text {
        width: 720px;
      }
    }
  }
  .section-furniture {
    padding: 70px 0;
    .furniture {
      &__text {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
      }
      &__img {
        height: 500px;
      }
    }
  }
}

@media (max-width: 768px) {
  .section-hero--football {
    .bg-white {
      height: 550px;
      width: 400px;
    }
    .hero-table-container {
      margin-top: 100px;
      img {
        width: 550px;
        left: -7%;
      }
    }
  }
  .section-feature--football {
    margin: 60px 0;
    .feature {
      display: block;

      &__img {
        margin-bottom: 50px;
        img {
          height: 500px;
        }
      }
      &__text {
        width: 540px;
      }
    }
  }
  .section-furniture {
    padding: 50px 0;
    .furniture {
      &__text {
        width: 100%;
      }
      &__img {
        height: 500px;
      }
    }
  }
}

@media (max-width: 576px) {
  .section-hero--football {
    .hero-text {
      width: 90%;
      margin-left: 5%;
    }
    .bg-white {
      height: 350px;
      width: 90%;
      margin-left: 5% !important;
      position: static;
    }
    .hero-table-container {
      margin-top: 100px;
      img {
        width: 80%;
        margin-left: 10%;
      }
    }
  }
  .section-feature--football {
    .feature {
      &__img {
        margin-bottom: 30px;
        img {
          height: 350px;
        }
      }
      &__text {
        width: 90%;
      }
    }
  }
  .section-furniture {
    .furniture {
      &__img {
        height: 350px;
      }
    }
  }
}
@media (max-width: 420px) {
  .section-hero--football {
    .bg-white {
      height: 300px;
    }
    .hero-table-container {
      img {
        width: 80%;
        margin-left: 10%;
      }
    }
  }
}
iframe {
  display: none;
}
