.section-hero {
  background-image: url(../img/hero-img.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  .hero-text {
    width: 735px;
    position: absolute;
    top: 20%;
    left: 50%;
    a {
      padding-left: 55px;
      padding-right: 55px;
    }
  }
}
.section-room {
  margin-top: 180px;
  .room-box-1 {
    width: 690px;
  }
  .room-box-2 {
    display: grid;
    grid-template-columns: 48% 1fr;
    grid-gap: 130px;
    &__img {
      img {
        width: 100%;
        height: 800px;
        object-fit: cover;
      }
    }
    &__text {
      width: 570px;
      align-self: center;
    }
  }
}
.section-gallery {
  padding: 252px 0 270px 0;
  margin-top: -125px;
  img {
    width: 100%;
  }

  .gallery-1,
  .gallery-3,
  .gallery-4 {
    height: 500px;
  }
  .gallery-2 {
    height: 400px;
  }
  .gallery-5 {
    height: 1050px;
  }
  .gallery-first-row {
    transform: translateY(80px);
  }
  .gallery-buttons {
    margin-top: var(--spacing-2);
  }
}
.section-feature {
  .feature__left {
  }
  .feature-text {
    width: 50vw;
    div {
      width: 570px;
    }
  }
  .feature-img {
    width: 50vw;
    position: relative;
    z-index: 20;
    img {
      width: 100%;
      height: 790px;
      object-fit: cover;
    }
  }
  .feature-first {
    margin-top: -120px;
    .feature-text {
      margin-top: 120px;
    }
  }
  .feature-third {
    padding-top: 120px;
    margin-top: -120px;
  }
}
.section-service {
  padding-top: 250px;
  transform: translateY(-120px);
  position: relative;
  z-index: 10;
  .service-single {
    padding: 100px 50px;
  }
}
.section-discount {
  background-image: url(../img/discount-bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  .discount-text {
    width: 450px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.section-reviews {
  .single-review {
    max-width: 420px;
  }
}
