.section-hero {
  background-image: url(../img/hero-img.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  .hero-text {
    width: 735px;
    position: absolute;
    top: 20%;
    left: 50%;
    a {
      padding-left: 55px;
      padding-right: 55px;
    }
  }
}
.section-room {
  margin-top: 180px;
  .room-box-1 {
    width: 690px;
  }
  .room-box-2 {
    display: grid;
    grid-template-columns: 48% 1fr;
    grid-gap: 130px;
    &__img {
      img {
        width: 100%;
        height: 800px;
        object-fit: cover;
      }
    }
    &__text {
      width: 570px;
      align-self: center;
    }
  }
}
.section-gallery {
  img {
    width: 100%;
  }

  .gallery-1,
  .gallery-3,
  .gallery-4 {
    height: 500px;
  }
  .gallery-2 {
    height: 400px;
  }
  .gallery-5 {
    height: 1050px;
  }
  .gallery-first-row {
    transform: translateY(80px);
  }
}
.section-service {
  .service-single {
    padding: 100px 50px;
  }
}
.section-discount {
  background-image: url(../img/discount-bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  .discount-text {
    width: 450px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.section-reviews {
  .single-review {
    max-width: 420px;
  }
}
