:root {
  --nv-primary-accent: #344737;
  --nv-secondary-accent: #f5c945;
  --nv-site-bg: #ffffff;
  --nv-light-bg: #f4f4f4;
  --nv-dark-bg: #211600;
  --nv-text-color: #000000;
  --nv-text-dark-bg: #ffffff;
  --custom-4: #3b4f3e;
  --custom-5: #f6fef7;
  --custom-6: #6d6d6d;

  --fs-h1: 96px;
  --fs-h2: 48px;
  --fs-h3: 30px;
  --default-fs: 18px;
  --fs-large-1: 36px;
  --fs-large-2: 24px;
  --spacing-1: 90px;
  --spacing-2: 70px;
  --spacing-3: 50px;
  --font-family-1: "Oswald", sans-serif;
  --font-family-2: "Barlow", sans-serif;
}
body {
  font-size: var(--default-fs) !important;
  font-family: var(--font-family-2);
  font-weight: 400;
}

.fs-large-1 {
  font-size: var(--fs-large-1);
}
.fs-large-2 {
  font-size: var(--fs-large-2);
}

.h1,
.h2,
.h3 {
  font-family: var(--font-family-1);
  font-weight: 900;
}
.h1 {
  font-size: var(--fs-h1) !important;
}
.h2 {
  font-size: var(--fs-h2) !important;
}
.h3 {
  font-size: var(--fs-h3) !important;
}
.space-1 {
  margin-bottom: var(--spacing-1) !important;
}
.space-2 {
  margin-bottom: var(--spacing-2) !important;
}
.space-3 {
  margin-bottom: var(--spacing-3) !important;
}
.fs-large-1 {
  font-size: var(--fs-large-1);
}
.fw-semi-bold {
  font-weight: 600;
}
.btn-pool {
  width: 285px;
  text-align: center;
  &--white {
    background-color: white;
    color: #000 !important;
  }
}

@media (max-width: 1920px) {
  :root {
    --fs-h1: 90px;
    // --fs-h2: 48px;
    // --fs-h3: 30px;
    // --default-fs: 18px;
    // --fs-large-1: 36px;
    // --fs-large-2: 24px;
    --spacing-1: 80px;
    --spacing-2: 65px;
    --spacing-3: 55px;
  }
}
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1400px) {
  :root {
    // --fs-h1: 75px;
    --fs-h2: 40px;
    --fs-h3: 25px;
    // --default-fs: 18px;
    --fs-large-1: 25px;
    --fs-large-2: 20px;
    // --spacing-1: 70px;
    // --spacing-2: 70px;
    // --spacing-3: 50px;
  }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) {
  :root {
    --fs-h1: 75px;
    --fs-h2: 32px;
    // --fs-h3: 30px;
    --default-fs: 16px;
    --fs-large-1: 30px;
    // --fs-large-2: 24px;
    --spacing-1: 70px;
    // --spacing-2: 70px;
    // --spacing-3: 50px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  :root {
    --fs-h1: 50px;
    // --fs-h2: 48px;
    // --fs-h3: 30px;
    // --default-fs: 18px;
    --fs-large-1: 25px;
    // --fs-large-2: 24px;
    // --spacing-1: 50px;
    --spacing-2: 40px;
    // --spacing-3: 25px;
  }
  .btn-pool {
    width: 250px;
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  :root {
    --fs-h1: 40px;
    // --fs-h2: 48px;
    // --fs-h3: 30px;
    // --default-fs: 16px;
    --fs-large-1: 22px;
    // --fs-large-2: 24px;
    --spacing-1: 60px;
    // --spacing-2: 30px;
    // --spacing-3: 20px;
  }
  .btn-pool {
    width: 230px;
  }
}
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
  :root {
    --fs-h1: 30px;
    // --fs-h2: 48px;
    // --fs-h3: 30px;
    // --default-fs: 18px;
    --fs-large-1: 20px;
    // --fs-large-2: 24px;
    // --spacing-1: 30px;
    // --spacing-2: 20px;
    // --spacing-3: 15px;
  }
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
