#chris-mockup .section-mockup-about {
  position: relative; }
  #chris-mockup .section-mockup-about .breaking-text {
    transform: rotate(-90deg) translateY(-240px);
    position: absolute;
    font-size: 4rem;
    color: #004037;
    opacity: 0.3;
    top: 170px; }
  #chris-mockup .section-mockup-about .news-inner {
    width: 80%;
    margin-left: 10%; }
  #chris-mockup .section-mockup-about .about-img {
    width: 90%;
    height: 490px;
    margin-left: 5%;
    margin-bottom: 4rem;
    display: grid;
    place-items: center; }
    #chris-mockup .section-mockup-about .about-img img {
      object-fit: cover;
      width: 70%;
      height: 70%; }
#chris-mockup .section-mockup-gallery {
  overflow: hidden; }
  #chris-mockup .section-mockup-gallery img {
    width: 100%;
    object-fit: cover; }
  #chris-mockup .section-mockup-gallery .gallery-1 {
    height: 530px; }
  #chris-mockup .section-mockup-gallery .gallery-2 {
    height: 350px; }
  #chris-mockup .section-mockup-gallery .gallery-3 {
    height: 350px; }
  #chris-mockup .section-mockup-gallery .gallery-4 {
    height: 530px; }
  #chris-mockup .section-mockup-gallery .gallery-text {
    padding: 4.5rem 0;
    width: 80%; }
#chris-mockup .section-mockup-video h1 {
  width: 75%;
  margin: 0 auto; }
#chris-mockup .section-mockup-video .mockup-video-container {
  position: relative;
  width: 75%;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio (9 / 16 * 100) */
  overflow: hidden;
  margin: 0 auto; }
  #chris-mockup .section-mockup-video .mockup-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
#chris-mockup .section-mockup-priority {
  background-image: linear-gradient(rgba(9, 42, 99, 0.9), rgba(9, 42, 99, 0.9)), url(../img/mockup-parties.jpg); }
  #chris-mockup .section-mockup-priority .priority-progress {
    height: 7rem !important;
    width: 7rem !important;
    border-radius: 50%;
    background: conic-gradient(red 80deg, white 80deg);
    position: relative; }
    #chris-mockup .section-mockup-priority .priority-progress::before {
      height: 84%;
      width: 84%;
      content: "";
      position: absolute;
      background-color: #082762;
      border-radius: 50%; }
    #chris-mockup .section-mockup-priority .priority-progress span {
      position: relative;
      z-index: 2; }
      #chris-mockup .section-mockup-priority .priority-progress span:first-child {
        font-size: 2rem; }
#chris-mockup .section-mockup-features img {
  width: 5rem; }

@media (min-width: 1400px) {
  #chris-mockup .section-mockup-about .about-img {
    height: 400px; }
  #chris-mockup .section-mockup-gallery {
    overflow: hidden; }
    #chris-mockup .section-mockup-gallery .gallery-1 {
      height: 530px; }
    #chris-mockup .section-mockup-gallery .gallery-2 {
      height: 350px; }
    #chris-mockup .section-mockup-gallery .gallery-3 {
      height: 350px; }
    #chris-mockup .section-mockup-gallery .gallery-4 {
      height: 350px; } }
@media (min-width: 1920px) {
  #chris-mockup .section-mockup-gallery .gallery-text {
    width: 70%; } }
@media (max-width: 1200px) {
  #chris-mockup .section-mockup-gallery {
    overflow: hidden; }
    #chris-mockup .section-mockup-gallery .gallery-1 {
      height: 350px; }
    #chris-mockup .section-mockup-gallery .gallery-2,
    #chris-mockup .section-mockup-gallery .gallery-3 {
      height: 550px; }
    #chris-mockup .section-mockup-gallery .gallery-4 {
      height: 350px; }
    #chris-mockup .section-mockup-gallery .gallery-text {
      padding: 0 0 2rem 0;
      margin-left: 10%; } }
@media (max-width: 992px) {
  #chris-mockup .section-mockup-about .about-img {
    height: 350px; }
  #chris-mockup .section-mockup-gallery .gallery-1,
  #chris-mockup .section-mockup-gallery .gallery-4 {
    height: 400px; }
  #chris-mockup .section-mockup-gallery .gallery-2,
  #chris-mockup .section-mockup-gallery .gallery-3 {
    height: 450px; }
  #chris-mockup .section-mockup-video h1 {
    width: 95%;
    margin: 0 auto; }
  #chris-mockup .section-mockup-video .mockup-video-container {
    position: relative;
    width: 90%; } }
@media (max-width: 768px) {
  #chris-mockup .section-mockup-about .about-img {
    height: 450px; }
  #chris-mockup .section-mockup-gallery .gallery-1,
  #chris-mockup .section-mockup-gallery .gallery-4 {
    height: 350px; }
  #chris-mockup .section-mockup-gallery .gallery-2,
  #chris-mockup .section-mockup-gallery .gallery-3 {
    height: 400px; } }
@media (max-width: 576px) {
  #chris-mockup .section-mockup-about .about-img {
    height: 390px; }
    #chris-mockup .section-mockup-about .about-img img {
      height: 290px; }
  #chris-mockup .section-mockup-about .breaking-text {
    font-size: 3rem;
    transform: rotate(-90deg) translateY(-180px); }
  #chris-mockup .section-mockup-about .news-inner {
    width: 80%;
    margin-left: 15%; }
  #chris-mockup .section-mockup-gallery .gallery-text {
    padding: 2rem 0; }
  #chris-mockup .section-mockup-gallery .gallery-2,
  #chris-mockup .section-mockup-gallery .gallery-3 {
    height: 600px; }
  #chris-mockup .section-mockup-features img {
    width: 5rem; } }

/*# sourceMappingURL=mockup.css.map */
