body {
  font-family: "Open Sans", sans-serif; }

.fw-semi-bold {
  font-weight: 600 !important; }

.color-yellow {
  color: #cea55d; }

.color-green-1 {
  color: #004037; }

.text-blue-light {
  color: #5175b3; }

.bg-blue-lightest {
  background-color: #dce3f0; }

.bg-sky {
  background-color: #dce3f0; }

.h1,
.h2,
.h3,
.h4 {
  font-weight: bold !important; }

.h1 {
  font-size: 2.375rem; }

.h2 {
  font-size: 2rem; }

.h3 {
  font-size: 1.3rem; }

.h4 {
  font-size: 1.2rem; }

.small-1 {
  font-size: 0.75rem; }

.header-top a {
  border-bottom: 1px solid white; }
.header .nav-link {
  text-transform: uppercase;
  font-weight: 700; }

.navbar-brand img {
  height: 3.75rem; }

.section-hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .section-hero .hero-text {
    width: 36rem; }
    .section-hero .hero-text span:last-child {
      color: #5175b3; }
  .section-hero .hero-para {
    color: #001944; }

.section-contact-text {
  width: 90%; }
.section-contact .contact-form label {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 3px;
  margin-bottom: 2px; }
  .section-contact .contact-form label span {
    color: red; }

.contact-media a {
  height: 1.5rem;
  width: 1.5rem; }
  .contact-media a:not(:last-child) {
    margin-right: 0.7rem; }

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none; }

  .navbar .nav-item:hover .dropdown-menu {
    display: block; }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0; } }
.section-numbers {
  background-image: linear-gradient(rgba(14, 54, 117, 0.8), rgba(14, 54, 117, 0.8)), url(../img/feature-bg.png);
  background-position: center;
  background-size: cover; }

.section-color {
  position: relative;
  z-index: -1; }

.section-security {
  position: relative; }
  .section-security-img {
    width: 45%;
    background-color: red;
    background-image: url(../img/security.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; }
  .section-security .btn {
    border-top: 2px solid #cea55d; }

.section-prospects {
  padding: 0 3vw; }
  .section-prospects img {
    height: 25rem;
    width: 100%;
    object-fit: cover; }
  .section-prospects .prospects {
    background-color: #004037; }

.footer {
  margin-left: 1vw; }
  .footer img {
    width: 90%; }

@media (max-width: 992px) {
  .h1 {
    font-size: 2rem; }

  .h2 {
    font-size: 1.6rem; }

  .h3 {
    font-size: 1rem; }

  .h4 {
    font-size: 1rem; }

  .section-hero .hero-text {
    width: 100% !important; }

  .section-prospects img {
    height: 22rem; }

  .footer img {
    width: 100%; } }
@media (max-width: 768px) {
  .section-security-img {
    display: none; } }
@media (max-width: 576px) {
  .section-hero {
    height: 115vh; }
    .section-hero .container,
    .section-hero .hero-text {
      opacity: 0.96;
      height: 100%; }

  .section-security button {
    width: 100% !important; } }
