@font-face {
  font-family: futura;
  src: url("../../../fonts/f/futura-medium-bt.ttf");
  font-weight: 500;
}
@font-face {
  font-family: garamond;
  src: url("../../../fonts/a/AGaramond-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: garamondSemiBoldItalic;
  src: url("../../../fonts/a/AGaramond-SemiboldItalic.otf");
}
