.mini_cell_value--green {
  color: #03b034;
}
.mini_cell_value--red {
  color: #e41f1f;
}
.table_container {
  max-width: 100%;
}
.table_container thead {
  vertical-align: top;
}
.calculator_main_container .table_container .profit_ratio_cell {
  align-items: flex-start;
}

.calculator_main_container .table_container table {
  table-layout: fixed;
}
