// Reusable style
p {
  margin-bottom: 0 !important;
}
.p-y-gen {
  padding: 6rem 0;
}
.m-y-gen {
  margin: 4rem 0;
}
.bg-golden {
  background-color: #cea55d;
}
.text-golden {
  color: #cea55d;
}
.text-primary-light {
  color: #5175b3;
}
.p-gen {
  padding: 0 6rem;
}
.btn-bg {
  background-color: #006255;
  &:hover {
    background-color: #004037;
  }
}
.btn-color {
  color: #006255;
}
.box-shadows {
  -webkit-box-shadow: 6px 6px 9px 3px rgba(0, 0, 0, 0.26);
  box-shadow: 6px 6px 9px 3px rgba(0, 0, 0, 0.26);
}
// page specific style
.section-home-hero {
  height: 90vh;

  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  position: relative;
  .hero-text {
    width: 45%;
    border-top: 1.5rem solid #cea55d;
    position: absolute;
    bottom: 10vh;
    left: 6rem;
    padding: 1.5rem 2rem;
  }
}
.section-home-about {
  // height: 100vh;
  position: relative;
  width: 100%;
  background-color: #dce3f0;

  .about-bg {
    height: 100%;
    width: 23vw;
    background-color: #5175b3;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    &-content {
      position: absolute;
      right: -35%;
      top: 50%;
      transform: translateY(-50%);
      width: 17rem;
      background-color: #001944;
    }
    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
  }
  .bg-white img {
    max-width: 5.6rem;
    margin-right: 0.8rem;
  }
  .container {
    padding: 4rem 0;
  }
}
.section-home-events {
  .home-event-text {
    .row {
      .col-sm-3 {
        // width: 100px;
        div {
          min-height: 160px;
          border: 1px solid #dce3f0;
        }
      }
      .col-sm-9 div {
        border-top: 3px solid #cea55d;
      }
    }
  }
  .home-event-media {
    div {
      position: relative;
      &:hover .event-subscribe,
      &:hover .event-signup-btn {
        opacity: 1;
      }
      .event-subscribe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.4s ease-in;

        img {
          width: 3rem;
          margin-bottom: 1rem;
        }
      }
      .event-signup-btn {
        position: absolute;
        left: 0;
        bottom: 85px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      .event-btn {
        border-top: 5px solid #cea55d;
      }
    }
  }
}
.section-home-resources {
  img {
    width: 3.5rem;
  }
  .box-triangle {
    height: 6rem;
    width: 6rem;
    right: -3rem;
    bottom: -3rem;
    transform: rotate(-45deg);
    i.fa {
      transform: translate(40px, 6px) rotate(45deg);
    }
  }
}
.section-home-news {
  margin-bottom: 150px;
  margin-top: 4rem;
}
// Responsive home
// page
@media (min-width: 1920px) {
  .section-home-resources .row .col-md-6.col-xl-3 a {
    max-width: 230px;
  }
  .section-home-news {
    .news-para {
      max-width: 500px !important;
    }
  }
  .section-home-hero {
    .hero-text {
      width: 1000px !important;
    }
  }
}
@media (min-width: 1400px) {
  .section-home-hero {
    h1 {
      font-size: 3.5rem !important;
    }
    .hero-text {
      width: 900px !important;
      padding: 2.5rem 5rem;
    }
  }
}
@media (max-width: 1200px) {
  .section-home-hero {
    .hero-text {
      width: 55%;
    }
  }
}
@media (max-width: 992px) {
  .section-home-hero {
    .hero-text {
      width: 65%;
      left: 3rem;
    }
  }
  .section-home-news {
    .news-para {
      width: 75% !important;
    }
  }
  .home-event-media {
    // div {
    //   width: 70%;
    //   margin-left: 15%;
    // }
  }
  .section-home-about {
    .about-bg {
      height: 100%;
      width: 30vw;
    }
  }
}
@media (max-width: 768px) {
  .section-home-hero {
    .hero-text {
      width: 75%;
      left: 2rem;
    }
  }
  .section-home-about {
    background-color: transparent;
    .about-bg {
      height: 100%;
      width: 100%;
      z-index: -1;
      &-content {
        display: none;
      }
    }
  }
  .section-home-news {
    .news-para {
      width: 100% !important;
    }
  }

  .section-home-events {
    .home-event-text {
      .row {
        .col-sm-3 {
          // width: 100px;
          div {
            min-height: 120px;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .section-home-hero {
    .hero-text {
      .h1 {
        font-size: 1.3rem;
      }
      width: 96%;
      left: 2%;
    }
    .section-home-about {
    }
    button.btn {
      width: 100% !important;
    }
  }
  .home-event-media {
    // div {
    //   width: 90%;
    //   margin-left: 5%;
    // }
  }
}
