// Reusable style
.p-y-gen {
  padding: 6rem 0;
}
.m-y-gen {
  margin: 4rem 0;
}
.bg-golden {
  background-color: #cea55d;
}
.text-golden {
  color: #cea55d;
}
.text-primary-light {
  color: #5175b3;
}
.p-gen {
  padding: 0 6rem;
}
.btn-bg {
  background-color: #006255;
  &:hover {
    background-color: #004037;
  }
}
.btn-color {
  color: #006255;
}
// page specific style
.section-home-hero {
  height: 90vh;

  background-image: url(../img/home-banner.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  position: relative;
  .hero-text {
    width: 45%;
    border-top: 10px solid #cea55d;
    position: absolute;
    bottom: 10vh;
    left: 6rem;
  }
}
.section-home-about {
  // height: 100vh;
  position: relative;
  width: 100%;
  background-color: #dce3f0;

  .about-bg {
    background-image: linear-gradient(rgba(#022661, 0.9), rgba(#022661, 0.9)),
      url(../img/home-about-bg.jpg);
    height: 100%;
    width: 23vw;
    background-color: #5175b3;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    &-content {
      position: absolute;
      right: -35%;
      top: 50%;
      transform: translateY(-50%);
      width: 17rem;
      background-color: #001944;
    }
    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
  }
  .container {
    padding: 4rem 0;
  }
}
.section-home-events {
  .home-event-text {
    .row {
      .col-sm-3 {
        // width: 100px;
        div {
          min-height: 160px;
          border: 1px solid #dce3f0;
        }
      }
      .col-sm-9 div {
        border-top: 3px solid #cea55d;
      }
    }
  }
  .home-event-media {
    div {
      position: relative;
      &:hover .event-subscribe,
      &:hover .event-signup-btn {
        display: block;
      }
      .event-subscribe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        img {
          width: 3rem;
        }
      }
      .event-signup-btn {
        position: absolute;
        left: 0;
        bottom: 60px;
        display: none;
      }
      .event-btn {
        border-top: 5px solid #cea55d;
      }
    }
  }
}
.section-home-resources {
  background-image: linear-gradient(rgba(#023c33, 0.9), rgba(#023c33, 0.9)),
    url(../img/resource-bg.jpg);
  img {
    width: 3.5rem;
  }
  .box-triangle {
    height: 6rem;
    width: 6rem;
    right: -3rem;
    bottom: -3rem;
    transform: rotate(-45deg);
    i.fa {
      transform: translate(40px, 6px) rotate(45deg);
    }
  }
}
// Responsive home
// page
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  .section-home-hero {
    .hero-text {
      width: 55%;
    }
  }
}
@media (max-width: 992px) {
  .section-home-hero {
    .hero-text {
      width: 65%;
      left: 3rem;
    }
  }
  .section-home-news {
    .news-para {
      width: 75% !important;
    }
  }
  .home-event-media {
    // div {
    //   width: 70%;
    //   margin-left: 15%;
    // }
  }
  .section-home-about {
    .about-bg {
      height: 100%;
      width: 30vw;
    }
  }
}
@media (max-width: 768px) {
  .section-home-hero {
    .hero-text {
      width: 75%;
      left: 2rem;
    }
  }
  .section-home-about {
    background-color: transparent;
    .about-bg {
      height: 100%;
      width: 100%;
      z-index: -1;
      &-content {
        display: none;
      }
    }
  }
  .section-home-news {
    .news-para {
      width: 100% !important;
    }
  }

  .section-home-events {
    .home-event-text {
      .row {
        .col-sm-3 {
          // width: 100px;
          div {
            min-height: 120px;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .section-home-hero {
    .hero-text {
      .h1 {
        font-size: 1.3rem;
      }
      width: 96%;
      left: 2%;
    }
    .section-home-about {
    }
    button.btn {
      width: 100% !important;
    }
  }
  .home-event-media {
    // div {
    //   width: 90%;
    //   margin-left: 5%;
    // }
  }
}
