#chris-mockup {
  .section-mockup-about {
    position: relative;
    .breaking-text {
      transform: rotate(-90deg);
      position: absolute;
      font-size: 5rem;
      color: #004037;
      opacity: 0.3;
      left: -27%;
    }
    .news-inner {
      width: 90%;
      margin-left: 5%;
    }
    .about-img {
      width: 90%;
      height: 30rem;
      margin-left: 5%;
      img {
        object-fit: cover;
        width: 60%;
        height: 70%;
        margin-left: 20%;
        margin-top: 15%;
      }
    }
  }
  .section-mockup-gallery {
    overflow: hidden;
    .gallery-text {
      padding: 4.5rem 0;
      width: 80%;
    }
    .gallery-inner-row {
      height: 22rem;
      img {
        width: 100%;
        height: 22rem;
        object-fit: cover;
      }
    }
  }
  .section-mockup-video {
    h1 {
      width: 75%;
      margin: 0 auto;
    }
  }
  .section-mockup-priority {
    background-image: linear-gradient(rgba(#092a63, 0.9), rgba(#092a63, 0.9)),
      url(../img/mockup-parties.jpg);
    .priority-progress {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      border: 0.5rem solid red;
      position: relative;
      span {
        &:first-child {
          font-size: 2rem;
        }
      }
    }
  }
  .section-mockup-features {
    img {
      width: 5rem;
    }
  }
  //   end of mockup main
}
