#chris-mockup {
  .section-mockup-hero {
    margin-bottom: 10rem;
    position: relative;
    height: 70vh;
    background-image: linear-gradient(rgba(#0c2e68, 0.9), rgba(#0c2e68, 0.9)),
      url(../img/mockup-hero.jpg);
    background-size: cover;
    background-position: center;
    img {
      height: 80vh;
      width: 30vw;
      object-fit: cover;
      position: absolute;
      left: 6rem;
    }
    .hero-content {
      position: absolute;
      left: 40vw;
      bottom: 10vh;
      width: 40%;
    }
  }
  .section-mockup-about {
    position: relative;
    .breaking-text {
      transform: rotate(-90deg);
      position: absolute;
      font-size: 5rem;
      color: #004037;
      opacity: 0.3;
      left: -27%;
    }
    .news-inner {
      width: 90%;
      margin-left: 5%;
    }
    .about-img {
      width: 90%;
      height: 30rem;
      margin-left: 5%;
      img {
        object-fit: cover;
        width: 60%;
        height: 70%;
        margin-left: 20%;
        margin-top: 15%;
      }
    }
  }
  .section-mockup-gallery {
    overflow: hidden;
    .gallery-text {
      padding: 4.5rem 0;
      width: 80%;
    }
    .gallery-inner-row {
      height: 22rem;
      img {
        width: 100%;
        height: 22rem;
        object-fit: cover;
      }
    }
  }
  //   end of mockup main
}
