.section-park-register {
  background-color: #004037;
  .row {
    & > * {
      height: 200px !important;
      & > * {
        height: inherit;
      }
    }
  }
}
.section-park-history {
  img {
    object-fit: cover;
  }
  .gallery-2-box {
    height: 520px;
    position: relative;
    p {
      transform: translateY(2rem);
      height: 130px;
    }
  }
  .gallery-text {
    width: 80%;
    margin-left: 10%;
  }
  .gallery-1 {
    height: 450px;
  }
  .gallery-2 {
    height: 375px;
  }
  .gallery-3 {
    height: 520px;
  }
  .gallery-4 {
    height: 450px;
  }
}
.section-park-demography {
  .h2 img {
    width: 40px;
  }
  .park-icons {
    border: 3px solid #dce3f0;
    & > * {
      height: 132px;
      width: 100%;
      border-bottom: 3px solid #dce3f0;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-of-type {
        border-bottom: none;
      }
      img {
        height: 65px;
      }
    }
  }
  .demograph-row {
    height: 132px;
    border-bottom: 3px solid #cea55d;
    width: 90%;
    margin-left: 5%;
    &:first-of-type {
      border-top: 3px solid #cea55d;
    }
  }
  .demograph-safety {
    transform: translateY(-160px);
    .h2 {
      // font-size: 1.9rem;
    }
  }
  .demograph-img {
    height: 200px;
    width: 90%;
    margin-left: 5%;
    object-fit: cover;
  }
}
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
  .section-park-history {
    .gallery-1 {
      height: 550px;
    }
  }
}
@media (max-width: 992px) {
  .section-park-demography {
    .demograph-safety {
      transform: translateY(0);
      margin-top: 2rem;
    }
  }
  .section-park-history {
    .history-row-first {
      width: 90%;
      margin-left: 5%;
    }
    .gallery-1 {
      height: 450px;
    }
  }
}
@media (max-width: 768px) {
  .section-park-history {
    .gallery-1 {
      height: 400px;
    }
  }
}
@media (max-width: 575px) {
  .section-park-history {
    .gallery-1 {
      height: 350px;
    }
    .gallery-text {
      width: 96%;
      margin-left: 2%;
    }
  }
  .section-park-demography {
    .demograph-row {
      height: auto;
      padding: 2rem 0;
    }
  }
}
#map {
  height: 250px;
  width: 100%;
}
