body {
  font-family: "Open Sans", sans-serif;
}
.fw-semi-bold {
  font-weight: 600 !important;
}
.color-yellow {
  color: #cea55d;
}
.color-green-1 {
  color: #004037;
}
.text-blue-light {
  color: #5175b3;
}
.bg-blue-lightest {
  background-color: #dce3f0;
}
$color-yellow: #cea55d;
$color-green-1: #004037;
.bg-sky {
  background-color: #dce3f0;
}
// Heading
.h1,
.h2,
.h3,
.h4 {
  font-weight: bold !important;
}
.h1 {
  font-size: 2.375rem;
}
.h2 {
  font-size: 2rem;
}
.h3 {
  font-size: 1.3rem;
}
.h4 {
  font-size: 1.2rem;
}
.small-1 {
  font-size: 0.75rem;
}
.mb-4-extra {
  margin-bottom: 2rem;
}
.header {
  &-top {
    a {
      border-bottom: 1px solid white;
    }
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: 700;
  }
}
.navbar-brand {
  img {
    height: 3.75rem;
  }
}
// section hero
.section-hero {
  position: relative;
  overflow: hidden;
  &-bg {
    width: 100%;
    img {
      width: 100%;
      height: 790px;
      object-fit: cover;
    }
  }
  .hero-text {
    position: absolute;
    top: 0%;
    right: 2.5%;
    width: 36rem;
    height: 100%;
    padding: 3rem 5.5rem;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);

    span:last-child {
      color: #5175b3;
    }
  }
  .hero-para {
    color: #001944;
  }
}
// section -contact
.section-contact {
  .contact-form {
    label {
      font-size: 1rem;
      font-weight: 700;
      margin-left: 3px;
      margin-bottom: 2px;
      span {
        color: red;
      }
    }
  }
}
.contact-media {
  a,
  a i {
    height: 2rem;
    width: 2rem;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
// Section number
.section-numbers {
  position: relative;
  background-image: linear-gradient(
      rgba(14, 54, 117, 0.9),
      rgba(14, 54, 117, 0.9)
    ),
    url(../img/feature-bg.png);
  background-position: center;
  background-size: cover;
  .numbers-content {
    position: relative;
    z-index: 2;
  }
  .number-color {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: -130px;
  }
}
// section-security
.section-security {
  margin-top: 60px;
  position: relative;
  .col-md-7 {
    z-index: 2;
  }
  &-img {
    height: 110%;
    width: 45%;
    background-color: red;
    background-image: url(../img/security.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -1.25rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .bg-blue-lightest {
    // height: 55vh;
  }
  .btn {
    border-top: 4px solid $color-yellow;
  }
}
// section prospects
.section-prospects {
  padding: 0 3vw;
  img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }
  .prospects {
    background-color: $color-green-1;
  }
}
.footer {
  margin-left: 1vw;
  img {
    width: 90%;
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .h1 {
    font-size: 2rem;
  }
  .h2 {
    font-size: 1.6rem !important;
  }
  .h3 {
    font-size: 1rem;
  }
  .h4 {
    font-size: 1rem;
  }
  .section-hero {
    overflow: initial;
    img {
      height: 100vh;
    }
    .hero-text {
      width: 90% !important;
      top: 50%;
      left: 0;
      right: 0;

      margin-left: auto;
      margin-right: auto;
      padding: 3rem 5.5rem;
      height: max-content;
    }
  }
  .section-contact {
    margin-top: 40%;
  }
  .section-prospects {
    img {
      height: 22rem;
    }
  }

  .footer {
    img {
      width: 100%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .section-contact {
    margin-top: 120%;
  }
  .section-security {
    &-img {
      display: none;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .section-hero {
    .h1 {
      font-size: 1.5rem;
    }
    .hero-text {
      opacity: 0.96;
      padding: 2rem 1.5rem;
    }
  }
  .section-contact {
    margin-top: 120%;
  }
  .numbers-content {
    width: 90%;
    margin-left: 5%;
  }
  .section-security {
    button {
      width: 100% !important;
    }
  }
}
.navbar {
  border-bottom: 1px solid red;
}
