body {
  font-family: "Open Sans", sans-serif;
}
.fw-semi-bold {
  font-weight: 600 !important;
}
.color-yellow {
  color: #cea55d;
}
.color-green-1 {
  color: #004037;
}
$color-green-1: #004037;
.bg-sky {
  background-color: #dce3f0;
}
.header {
  &-top {
    a {
      border-bottom: 1px solid white;
    }
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: 700;
  }
}
.navbar-brand {
  img {
    height: 3.75rem;
  }
}
// section hero
.section-hero {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;

  .hero-text {
    width: 36rem;
    height: inherit;
    span:last-child {
      color: #5175b3;
    }
  }
  .hero-para {
    color: #001944;
  }
}
// section -contact
.section-contact {
  &-text {
    width: 90%;
  }
}
.contact-media {
  a {
    height: 1.5rem;
    width: 1.5rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
// Section number
.section-numbers {
  background-image: linear-gradient(
      rgba(14, 54, 117, 0.8),
      rgba(14, 54, 117, 0.8)
    ),
    url(../img/feature-bg.png);
  background-position: center;
  background-size: cover;
  height: 60vh;
}
.section-color {
  height: 40vh;
  position: relative;
  z-index: -1;
}

// section prospects
.section-prospects {
  padding: 0 3vw;
  img {
    width: 100%;
    object-fit: cover;
  }
  .prospects {
    background-color: $color-green-1;
  }
}
.footer {
  margin-left: 1vw;
}
