:root {
  --fs-custom-h1: 2.375rem;
  --fs-custom-h2: 2rem;
  --fs-custom-h3: 1.3rem;
  --fs-custom-h4: 1rem;
  --fs-custom-small: 0.75rem;
  --fw-custom-heading: bold;
}
body {
  font-family: "Open Sans", sans-serif;
}
.fw-extra-bold {
  font-weight: 900;
}
.fw-semi-bold {
  font-weight: 600 !important;
}
.color-yellow {
  color: #cea55d !important;
}
.color-green-1 {
  color: #004037 !important;
}
.text-blue-light {
  color: #5175b3 !important;
}
.bg-blue-lightest {
  background-color: #dce3f0 !important;
}
$color-yellow: #cea55d;
$color-green-1: #004037;
.bg-sky {
  background-color: #dce3f0 !important;
}
// Heading
.h1,
.h2,
.h3,
.h4 {
  font-weight: var(--fw-custom-heading) !important;
}
.h1 {
  font-size: var(--fs-custom-h1);
}
.h2 {
  font-size: var(--fs-custom-h2);
}
.h3 {
  font-size: var(--fs-custom-h3);
}
.h4 {
  font-size: var(--fs-custom-h4);
}
.small-1 {
  font-size: var(--fs-custom-small);
}
.mb-4-extra {
  margin-bottom: 2rem !important;
}
.py-4-extra {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}
.header {
  &-top {
    a {
      border-bottom: 1px solid white;
    }
  }
  .nav-link {
    text-transform: uppercase;
    font-weight: 700;
  }
}
.navbar-brand {
  img {
    height: 3.75rem;
  }
}
.p-y-gen {
  padding: 6rem 0;
}
.m-y-gen {
  margin: 4rem 0;
}
.bg-golden {
  background-color: #cea55d;
}
.text-golden {
  color: #cea55d;
}
.text-primary-light {
  color: #5175b3;
}
.p-gen {
  padding: 0 6rem;
}
.btn-bg {
  background-color: #006255;
  &:hover {
    background-color: #004037;
  }
}
.btn-color {
  color: #006255;
}
// section hero
.section-hero {
  position: relative;
  overflow: hidden;
  height: 810px;
  background-position: center;
  // background-size: cover;
  background-attachment: fixed;
  // &-bg {
  //   width: 100%;
  //   img {
  //     width: 100%;
  //     object-fit: cover;
  //   }
  // }
  .hero-text {
    position: absolute;
    top: 0%;
    right: 2.5%;
    width: 36rem;
    height: 100%;
    padding: 3rem 5.5rem;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);

    span:last-child {
      color: #5175b3;
    }
  }
  .hero-para {
    color: #001944;
  }
}
// section -contact
.section-contact {
  .contact-form {
    label {
      font-size: 1rem;
      font-weight: 700;
      margin-left: 3px;
      margin-bottom: 2px;
      span {
        color: red;
      }
    }
  }
}
.contact-media {
  a,
  a i {
    height: 2rem;
    width: 2rem;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
// Section number
.section-numbers {
  position: relative;

  background-position: center;
  background-size: cover;
  .numbers-content {
    position: relative;
    z-index: 2;
  }
  .number-color {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: -130px;
  }
}
// section-security
.section-security {
  margin-top: 60px;
  position: relative;
  margin-bottom: 8rem;
  .col-md-7 {
    z-index: 2;
  }
  &-img {
    height: 110%;
    width: 50%;
    background-color: red;

    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .bg-blue-lightest {
    // height: 55vh;
  }
  .btn {
    border-top: 4px solid $color-yellow;
  }
}
// section prospects
.section-prospects {
  padding: 0 3vw;
  margin-bottom: 8rem;
  img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }
  .prospects {
    background-color: $color-green-1;
  }
}
.footer {
  margin-left: 1vw;
  img {
    width: 90%;
    transform: translateY(-2.5rem);
  }
}
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .section-hero .hero-text {
    right: auto;
    left: 57%;
  }
  .section-prospects {
    img {
      height: 30rem;
    }
  }
}
@media (min-width: 2000px) {
  .container {
    max-width: 1800px !important;
  }
  .section-hero .hero-text {
    left: 64%;
  }
  .section-prospects {
    img {
      height: 35rem;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .h1 {
    font-size: 2rem !important;
  }
  .h2 {
    font-size: 1.6rem !important;
  }
  .h3 {
    font-size: 1rem !important;
  }
  .h4 {
    font-size: 1rem !important;
  }
  .section-hero {
    overflow: initial;
    img {
      height: 100vh;
    }
    .hero-text {
      width: 90% !important;
      top: 50%;
      left: 0;
      right: 0;

      margin-left: auto;
      margin-right: auto;
      padding: 3rem 5.5rem;
      height: max-content;
    }
  }

  .section-prospects {
    img {
      height: 22rem;
    }
  }

  .footer {
    img {
      width: 100%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .section-security {
    &-img {
      display: none;
    }
    .security-text {
      width: 100% !important;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .section-hero {
    .h1 {
      font-size: 1.5rem;
    }
    .hero-text {
      opacity: 0.96;
      padding: 2rem 1.5rem;
    }
  }

  .numbers-content {
    width: 90%;
    margin-left: 5%;
  }
  .section-security {
    button {
      width: 100% !important;
    }
  }
}
.nav-ul li a {
  text-decoration: none;
}

// Reusable code
// sectioin mockup hero
.section-mockup-hero {
  margin-bottom: 10rem;
  position: relative;
  height: 390px;
  background-size: cover;
  background-position: center;
  img {
    height: 480px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    left: 6rem;
  }
  .hero-content {
    position: absolute;
    left: 550px;
    bottom: 2rem;
    width: 40%;
  }
}
@media (min-width: 1400px) {
  .section-mockup-hero {
    height: 500px;
    img {
      height: 600px;
      width: 500px;
      left: 8rem;
    }
    .hero-content {
      left: 680px;
    }
  }
}
@media (min-width: 1920px) {
  .section-mockup-hero {
    height: 650px;
    img {
      height: 780px;
      width: 650px;
    }
    .hero-content {
      left: 850px;
    }
  }
}
@media (max-width: 1200px) {
  .section-mockup-hero {
    height: 380px;
    img {
      height: 440px;
      width: 350px;
      left: 5rem;
    }
    .hero-content {
      left: 500px;
      bottom: 1rem;
      width: 50%;
    }
  }
}
@media (max-width: 991px) {
  .section-mockup-hero {
    height: auto;
    width: auto;
    padding: 2rem 0;
    .h1 {
      font-size: 1.5rem !important;
    }
    img {
      position: static;
      width: 80%;
      margin-left: 10%;
      margin-bottom: 2rem;
    }
    .hero-content {
      position: static;
      width: 80%;
      margin-left: 10%;
    }
  }
}
