.section-hero,
.hero-right {
  height: 110rem; }

.hero-left {
  flex: 0 0 50%; }

.hero-right {
  flex: 1; }

.section-houses {
  position: relative; }
  .section-houses .houses {
    margin-left: 10%; }
  .section-houses .houses-big {
    height: 87rem; }
  .section-houses .houses-nav-btn {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 3px solid #a4a7a6;
    color: #a4a7a6; }
    .section-houses .houses-nav-btn.faded {
      opacity: 0.5; }
  .section-houses .house-nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }

.section-contact {
  background-size: cover;
  background-position: -100px 0;
  background-repeat: no-repeat;
  height: 130rem;
  position: relative; }
  .section-contact .contact-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .section-contact .row {
    margin-top: 20rem;
    padding-right: 10rem; }
  .section-contact .contact-text {
    max-width: 45rem; }

@media (max-width: 1199.98px) {
  .section-contact {
    height: 150rem; }
    .section-contact .row {
      margin-top: 10rem; }

  .section-houses .houses-big {
    height: 75rem; }
  .section-houses .houses-nav-btn {
    height: 9rem;
    width: 9rem; } }
@media (max-width: 991.98px) {
  .section-hero {
    height: auto; }

  .hero-left {
    height: 85rem; }

  .hero-right {
    height: 70rem; }

  .section-contact {
    background-position: -200px 0; }
    .section-contact .row {
      margin-top: 20rem;
      padding-right: 5rem; }

  .section-houses .houses {
    margin-right: 10%; } }
@media (max-width: 767.98px) {
  .section-contact {
    height: 130rem; }
    .section-contact .row {
      margin-top: 20rem;
      padding-right: 0rem; } }
@media (max-width: 575.98px) {
  .hero-left {
    height: 120rem; }

  .section-houses .houses-big {
    height: 80rem; }
  .section-houses .houses-nav-btn {
    height: 7rem;
    width: 7rem; } }
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl,
.container-3xl {
  padding-right: var(--bs-gutter-x, 1.25rem) !important;
  padding-left: var(--bs-gutter-x, 1.25rem) !important; }
