.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%; }
  .header .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .header .navbar-light .navbar-toggler {
    border-color: white !important; }

.section-hero {
  height: 100vh;
  background-image: url(../img/mockup-hero.jpg);
  background-size: cover;
  background-position: center; }
  .section-hero .hero-content {
    margin-top: 15rem;
    max-width: 56rem;
    transition: margin-top 0.5s; }
    .section-hero .hero-content.active {
      margin-top: 28rem; }
  .section-hero a {
    font-size: 1.8rem; }

.section-gallery .row {
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative; }
  .section-gallery .row img {
    transform: translateX(1.5rem); }
  .section-gallery .row .gallery-text h2,
  .section-gallery .row .gallery-text p,
  .section-gallery .row .gallery-text a {
    position: relative;
    z-index: 2; }
  .section-gallery .row .gallery-number {
    position: absolute;
    bottom: -6rem;
    left: 0;
    font-size: 15rem;
    opacity: 0.7; }

.section-about {
  padding: 9rem 0; }
  .section-about .about-img {
    height: 50rem;
    flex: 0 0 60%; }
  .section-about .about-text {
    flex: 0 0 20rem; }

.section-process .process-title {
  flex: 0 0 10rem; }

.section-precise .precise-img img {
  width: 80%;
  border-radius: 1.2rem; }
.section-precise .precise-text {
  width: 75%; }

.section-testimonial {
  padding: 9rem 0; }
  .section-testimonial .testimonial {
    min-height: 27rem !important; }

.section-contact {
  padding: 9rem 0; }

@media (max-width: 1199.98px) {
  .section-hero .hero-content {
    max-width: 38rem; }

  .section-about .w-50 {
    width: 75% !important; } }
@media (max-width: 991.98px) {
  .section-about .about-img {
    margin-bottom: 4.3rem; }

  .section-gallery .row img {
    height: 27rem;
    transform: translate(0, -30px) scale(1.1); } }
@media (max-width: 767.98px) {
  .section-precise .precise-img img {
    width: 100%;
    height: 25rem; }
  .section-precise .precise-text {
    width: 100%; }
  .section-precise .h1 {
    font-size: 2.5rem !important; } }
@media (max-width: 575.98px) {
  .section-hero .h1 {
    font-size: 2.5rem !important; } }
